<footer class="footer">
  <nav>
    <ul>
      <li><%= t ".lan" %></li>
      <li><%= link_to "English", locale: "en" %></li>
      <li><%= link_to "Vietnamese", locale: "vi" %></li>
    </ul>
  </nav>
</footer>
